#layer0Btn,
#layer1Btn,
#layer2Btn,
#layer3Btn {
  text-align: center;
  width: 80%;
  border-radius: 10px;
  height: 50px;
  font-size: 12px;
  margin-bottom: 5px;
  background-color: #f2f2f2;
  color: rgb(57, 56, 56);
}

.popup0-menu {
  background: rgb(47, 49, 63);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  z-index: 10;
  position: fixed;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  min-width: 650px;
  border-radius: 30px;
  padding-bottom: 20px;
  color: rgb(6, 6, 6);
}

.popup123-menu {
  background: rgb(47, 49, 63);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  z-index: 10;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 450px;
  border-radius: 30px;
  padding-bottom: 20px;
  color: rgb(6, 6, 6);
}

.popup11-menu {
  background: rgb(47, 49, 63);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  z-index: 10;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 600px;
  border-radius: 30px;
  padding-bottom: 20px;
  color: rgb(6, 6, 6);
}

.boxx {
  position: relative;
}

#clos,
#clos1,
#clos2,
#clos3 {
  padding: 7px;

  margin-left: 0px;
  text-align: center;

  width: 20%;
  border-radius: 10px;
  margin-top: 15px;
  background-color: #f2f2f2 !important;
  color: rgb(0, 0, 0);
}

.lineC {
  cursor: pointer;
  padding: 7px;
  color: rgb(1, 5, 9);

  margin: 15px 0px 0px 4%;
  text-align: center;
  background-color: rgb(255, 255, 255);
  width: 90%;
  border-radius: 10px;
  box-shadow: 1px 1px 1px rgba(120, 120, 120, 0.4);
  z-index: 10;
}

.txNum {
  color: rgb(255, 255, 255);
  line-height: 30px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  text-align: center;
  background-color: rgb(47, 49, 63);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  z-index: 10;
  padding-left: 50px;
  padding-top: 5px;
}

.txNum:after {
  content: "";
  display: table;
  clear: both;
}

.allTxNum {
  float: left;
  width: 40%;
  text-align: center !important;
}

.filterdTxNum {
  float: left;
  width: 40%;
  text-align: center;
}

.popup1-menu,
.popup2-menu,
.popup3-menu {
  display: none;
  background: rgb(47, 49, 63);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  z-index: 10;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 400px;
  border-radius: 30px;
  padding-bottom: 20px;
  color: rgb(6, 6, 6);
}

.txNum123 {
  color: rgb(255, 255, 255);
  line-height: 30px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  text-align: center;
  background-color: rgb(47, 49, 63);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  z-index: 10;
  padding-top: 10px;
}

#closs {
  padding: 7px;

  margin-left: 5%;
  text-align: center;

  width: 20%;
  border-radius: 10px;

  margin-top: 15px;
  background-color: #464444 !important;
  color: rgb(250, 250, 250);
}

#clossA {
  padding: 7px;

  margin-left: 5%;
  text-align: center;

  width: 20%;
  border-radius: 10px;

  margin-top: 15px;
  background-color: #000000 !important;
  color: rgb(255, 255, 255);
}

.senderConfig {
  width: 80%;
  margin-left: 10%;
}

.recieverConfig {
  width: 80%;
}
.configs {
  margin-bottom: 10px;
  width: 90%;
}

.cofigNames {
  color: white;
  text-align: right;
  padding-top: 35px;
}

.cNames h4 {
  line-height: 26px;
}
.cNameAmount {
  color: white;
  text-align: right;
}

.configAmount {
  width: 81%;
  margin: 10px 0px 0px 5%;
}
.configAmount2 {
  width: 100%;
}

.senderNam {
  color: white;
  margin-right: 10%;
  text-align: center;
}

.receiverNam {
  color: white;
  text-align: center;
  margin-right: 30%;
}

#inflowLayer1 img {
  height: 100%;
  width: 100%;
}
